.trigger {
  padding: 0px 20px;
  cursor: pointer;
  font-size: 15px;
  line-height: 55px;
  transition: color 0.5s;
}

.trigger:hover {
  color: rgb(60, 70, 91);
}

.header-background {
  background: #fff;
}
.header-layout {
  display: flex;
  justify-content: space-between;
  padding: 0px 120px 0px 0px;
}

.buttons {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-button {
  width: 88px;
  border-radius: 10px;
  align-items: center;
  margin-right: 10px;
}
